<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/main.css'>
    <script src="https://kit.fontawesome.com/21ef82ed30.js" crossorigin="anonymous"></script>

    <style>
        #wrapper{
            display:grid;
            min-height:100vh;
            min-height:100svh;
            place-content:center;
        }
        hr{
            margin-top:10px;
        }
        h1{
            text-align:left;
        }
    </style>
</head>
<body>
    <div id="wrapper">
 
<main>


        <section>
            <h1>olea</h1>
            <hr>
            <h2>STAFF: NEW ACCOUNT CREATED</h2><br>
            <h3>Pending Approval</h3>  
            <br>          
            A Manager Must Validate Your Account<br>
            Before You Can Access The Staff Portal


        </section>
</main>

