<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <script
            src="https://kit.fontawesome.com/21ef82ed30.js"
            crossorigin="anonymous">
        </script>

    <style>
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }
        #wrapper{
            width:100%;
            display:grid;
            place-content:center;
            min-height:100vh;
            min-height:100svh;
        }
        button{
            padding:0.5em 1em;
            cursor:pointer;
        }
    </style>
</head>
<body>
    <div id='wrapper'>
        <div id='dashboard'>
            <h2><i class="fa-solid fa-gear"></i> CONTROL PANEL</h2>

            <br>

            Update Menus

            <br><br>

            Format Menus

            <br><br>

            Print Menus

            <br><br>
            
            <form action='/dashboard/users'>
                <button>Manage Users</button>
            </form>

            <br><br>

            <form action='/auth/logout'>
                <button>Logout</button>
            </form>
        </div>
    </div>
</body>
</html>