<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <script
            src="https://kit.fontawesome.com/21ef82ed30.js"
            crossorigin="anonymous">
        </script>

    <style>
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }
        #wrapper{
            width:100%;
            display:grid;
            place-content:center;
            min-height:100vh;
            min-height:100svh;
        }
        button{
            padding:0.5em 1em;
            cursor:pointer;
        }
        a{
            text-decoration:none;
        }
    </style>
</head>
<body>
    <div id='wrapper'>
        <div id='dashboard'>
            <h2><i class="fa-solid fa-gear" style='color:blue;'></i> CONTROL PANEL</h2>
            <h2><i class="fa-solid fa-gear" style='color:transparent'></i> Update Menus</h2>

            <br>

            <button>
                <a href='/update/specials'>
                    <i class="fa-solid fa-pen"></i> &nbsp;Update Specials        
                </a>
            </button>

            <br><br>

            <button>
                <a href='/update/charcuterie'>
                    <i class="fa-solid fa-pen"></i> &nbsp;Update Dinner Menu
                </a>
            </button>

            <br><br>

            <button>
                <a href='/update/desserts'>
                    <i class="fa-solid fa-pen"></i> &nbsp;Update Desserts
                </a>
            </button>

            <br><br>

            <button>
                <a href='/update/btg'>
                    <i class="fa-solid fa-pen"></i> &nbsp;Update Wine List
                </a>
            </button>

            <br><br>

            <hr>

            <br>

            <form action='/dashboard' style='display:inline-block;'>
                <button><i class="fa-solid fa-gear"></i> &nbsp;Main Menu</button>
            </form>

            <form action='/auth/logout' style='display:inline-block;'>
                <button><i class="fa-solid fa-user"></i> &nbsp;Logout</button>
            </form>
        </div>
    </div>
</body>
</html>