*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "futura light";
    src: url("./FuturaLight.otf") format("opentype");
}
body{
    background:#262626;
    color: #bfbfbf;
    font-family: futura light;
    font-weight:100;
    font-size: 18px;
    width:100%;
}
a{
    text-decoration: none;
}
#wrapper{
    max-width: 1060px;
    margin:0 auto;
}
h1{
    color: #fff;
    font-weight: 100;
    font-size: 55px;
    width:260px;
    text-align: center;
}
a,
a:link,
a:visited,
a:hover,
a:active{
    color:white;
}
#socials a,footer a,
#socials a:link,footer a:link,
#socials a:visited,footer a:visited,
#socials a:active,footer a:active{
    color:#bfbfbf;
}
#socials a:hover,footer a:hover{
    color:#fff;
}
h2{
    font-weight: 100;
    font-size: 25px;
}
li{
    list-style-type: none;
}
nav ul{
    display: flex;
}
#info-button,#menus-button{
    position: relative;
}
#info-sub-menu,
#menus-sub-menu{
    z-index: 100;
    width:13ch;
    flex-direction: column;
    position:absolute;
    border:1px solid black;
    background: #262626;
    padding: 5px 0;
    left:-15px;
    top: 1.4rem;
    display: none;
}
#menus-sub-menu{
    width:9ch;
}
#info-sub-menu li,
#menus-sub-menu li{
    padding: 7px 7px;
}
nav li{
    color:white;
    font-size: 18px;
    margin:0 10px;
}
nav li:hover,
nav a:hover{
    color: #bfbfbf;
    cursor: pointer;
}
.active-page:hover{
    color:white;
    cursor:default;
}
hr{
    border-top:1px solid #5c5c5c;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
header{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
#nav-socials{
    display:flex;
    width:100%;
    justify-content: space-between;
}
#socials{
    margin-left: auto;
    width: 126px;
    align-self: flex-start;
}
#socials i,#socials2 i{
    padding:3px;
    font-size: 20px;
    font-weight: 100;
}
#socials2{
    margin-bottom: 20px;
}
main{
    max-width: 940px;
    margin: 45px auto;
    line-height: 1.7em;
    font-size: 18px;
}
#footer-hr{
    border-top:1px solid #5c5c5c;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    margin-top: 80px;
}
footer{
    margin-top: 20px;
    max-width: 47ch;
    padding-bottom: 70px;
}
.x{
    color:red;
}
#opentable{
    background:#00000088;
    text-align:center;
    color:#fff;
    font-size:25px;
    line-height:1.3em;
    letter-spacing:3px;
    padding:34px 17px 40px;
}
#opentable span{
    font-size:10px;
}
#find-a-table{
    border-radius:3px;
    padding:10px;
    background:#000000dd;
    font-family:serif;
    font-size:13px;
    cursor:pointer;
}
#nav-mobile{
    width:100%;
    text-align: center;
    padding-top: 20px;
}
#nav-mobile hr{
    border-bottom:transparent;
    border-top:1px solid #5c5c5c22;
}
.mobile-button{
    color:white;
    padding:10px 0;
}
.mobile-sub-menu{
    background:#1e1e1e;
}
#mobile-info-menu,
#mobile-menus-menu{
    display:none;
}
.fa-bars,
.fa-rectangle-xmark{
    color:white;
    position:absolute;
    left:15px;
    top:15px;
}
.fa-rectangle-xmark{
    font-size:1.25rem;
}
.hide-mobile-nav{
    display:none;
}
.shrink{
    height:0;
    width:0;
    overflow: hidden;
}


@media (width<1000px){
    footer{
        padding-left:5vw;
        padding-right:5vw;
    }
}
@media (width<875px){
    header{
        flex-direction: column;
    }
    #nav-socials,
    footer{
        padding-left: 5vw;
    }
}
@media (width>=700px){
    .fa-bars,
    .fa-rectangle-xmark{
        display:none;
    }
}
@media (width<700px){
    #nav-socials{
        display:none;
    }
    .fa-bars{
        display:block;
    }
    #nav-mobile{
        display:block;
    }
}
#nav-mobile a{
    display:inline-block;
    width:100%;
    height:100%;
}
