<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script
    src="https://kit.fontawesome.com/21ef82ed30.js"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
    <style>
        #info-page-flexbox{
            display:flex;
            gap:20px;
        }
        #left{
            max-width:53ch;
        }
        h2{
            margin: 70px 0 20px;
        }
        #button{
            background:lightgrey;
            display:inline-block;
            color:black;
            font-size:25px;
            margin-top:20px;
            padding:15px 20px;
            border-radius:5px;
            font-weight:900;
        }
        #button:hover{
            cursor:pointer;
        }
        img{
            max-width:615px;
            margin-top:100px;
        }
        option{
            color:black;
        }
        input{
            height:40px;
        }
        @media(width<1000px){
            #info-page-flexbox{
                padding-right:5vw;
                padding-left:5vw;
            }
        }
        @media(width<850px){
            #info-page-flexbox{
                flex-direction:column;
            }
            #opentable{
                width:300px;
                margin:0 auto;
            }
        }
        @media(width<700px){
            img{
                max-width:90vw;
            }
        }
    </style>
</head>
<body>
    <div id="wrapper">

    <%- include('./partials/header.ejs')%>

        <main>            
<div id='info-page-flexbox'>
    <div id="left">

        <h2 style='margin-top:0;'>gift cards</h2>

        <span class='bold-text'>Gift cards are available now!</span> Please fill in the information and click the button below 
        to purchase one through PayPal (an account is not required). If you would like an amount 
        not listed below, or if you would prefer to order a gift card by phone, please give us a call 
        at 203.780.8925.<br><br>

        <span class='bold-text'>
        Gift cards will be mailed via standard mail within 48 hours, except for 
        orders received on Sunday which will be processed on Tuesday.<br><br>

        At this time, we do not offer printable or electronic gift cards.</span> Please provide 
        your telephone number so we have a way to contact you in case of any issues. Thank you!<br><br>

        <form>
            amount<br>
            <select style='height:30px;font-size:20px;color:#bbb;'>
                <option>$50</option>
                <option>$75</option>
                <option>$100</option>
                <option>$125</option>
                <option>$150</option>
                <option>$175</option>
                <option>$200</option>
                <option>$225</option>
                <option>$250</option>
                <option>$300</option>
            </select>
            <br>
            phone number *REQUIRED*<br>
            Please make sure to provide a phone number. We will only contact you if there is an issue 
            with the processing of your gift card.<br>
            <input type='text'><br>
            provide to and from info<br>
            <input type='text'><br>
            <div id='button'>
                buy now
            </div>
        </form>

        <img src='/pics/giftcard.jpg'>
    </div>

    <div id='right'>

        <div id='opentable'>
            make a reservation<br>
            <span>POWERED BY OPENTABLE</span>

            <a target='_blank' href='http://www.opentable.com/rest_profile.aspx?rid=151186&restref=151186'><div id='find-a-table'>
                FIND A TABLE
            </div></a>
        </div>
    </div>
</div>
            <%- include('./partials/footer.ejs') %>
        </main>

    </div>
    <script src="/main.js"></script>
</body>
</html>