<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script
    src="https://kit.fontawesome.com/21ef82ed30.js"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
    <style>
        .slideshow-large{
            margin:0 auto;
            display: block;
            margin-top: 40px;
            margin-bottom: 20px;
        }
        .slideshow-small{
            width:120px;
            height:80px;
        }
        #slideshow{
            max-width:940px;
            /* aspect-ratio: 16 / 1; */
            margin-bottom: 20px;
            position: relative;
        }
        #small-slideshow{
            display: flex;
            overflow: hidden;
        }
        #left,#right{
            position:absolute;
            background: transparent;
            color:white;
            font-size: 20px;
            font-weight: 100;
            top:0;
            bottom:0;
            display: flex;
            align-items: center;
        }
        #left{
            left:0;
            justify-content:flex-start;
        }
        #right{
            right:0;
        }
        #left-arrow,#right-arrow{
            background: #88888888;
            transform: scaleY(2);
            padding: 0 14px;
            line-height: 25px;
        }
        #left-arrow:hover,
        #right-arrow:hover{
            background: #44444444;
            cursor: default;
        }
    </style>
</head>
<body>
    <div id="wrapper">
    <%- include('./partials/header.ejs')%>
        <main>            
            <div id="slideshow">
                <div id="left"><div id="left-arrow">&lt;</div></div>
                <div id="right"><div id="right-arrow">&gt;</div></div>
                <img src="./slideshow/1.jpg" alt="dining room" class="slideshow-large">
            </div>
            <div id="small-slideshow">
                <img src="./slideshow/1.jpg" alt="dining room" class="slideshow-small">
                <img src="./slideshow/2.jpg" alt="sea urchin" class="slideshow-small">
                <img src="./slideshow/3.jpg" alt="gift card" class="slideshow-small">
                <img src="./slideshow/4.jpg" alt="duck breast" class="slideshow-small">
                <img src="./slideshow/5.jpg" alt="private dining room" class="slideshow-small">
                <img src="./slideshow/6.jpg" alt="perdiz / partridge" class="slideshow-small">
                <img src="./slideshow/7.jpg" alt="terrine" class="slideshow-small">
                <img src="./slideshow/8.jpg" alt="carabineros / prawns" class="slideshow-small">
                <img src="./slideshow/9.jpg" alt="39 high st" class="slideshow-small">
                <img src="./slideshow/10.jpg" alt="bacalao" class="slideshow-small">
                <img src="./slideshow/11.jpg" alt="cannoli-misu" class="slideshow-small">
                <img src="./slideshow/12.jpg" alt="butternut squash soup" class="slideshow-small">
                <img src="./slideshow/13.jpg" alt="venison" class="slideshow-small">
                <img src="./slideshow/14.jpg" alt="ostra trio" class="slideshow-small">
                <img src="./slideshow/15.jpg" alt="codorniz / quail" class="slideshow-small">
                <img src="./slideshow/16.jpg" alt="marcona almond semifreddo" class="slideshow-small">
                <img src="./slideshow/17.jpg" alt="shrimp cannelloni" class="slideshow-small">
                <img src="./slideshow/18.jpg" alt="private event" class="slideshow-small">
                <img src="./slideshow/19.jpg" alt="cannoli-misu" class="slideshow-small">
                <img src="./slideshow/20.jpg" alt="the nathan cocktail" class="slideshow-small">
                <img src="./slideshow/21.jpg" alt="dining room" class="slideshow-small">
                <img src="./slideshow/22.jpg" alt="bosque dulce" class="slideshow-small">
                <img src="./slideshow/23.jpg" alt="croquetas de rabo / oxtail wild mushrrom croquettes" class="slideshow-small">
                <img src="./slideshow/24.jpg" alt="dinner service" class="slideshow-small">
                <img src="./slideshow/25.jpg" alt="cochinillo / suckling pig" class="slideshow-small">
                <img src="./slideshow/26.jpg" alt="wine dinner" class="slideshow-small">
                <img src="./slideshow/27.jpg" alt="bacalao" class="slideshow-small">
                <img src="./slideshow/28.jpg" alt="modern decor" class="slideshow-small">
                <img src="./slideshow/29.jpg" alt="cojonudo / chorizo, fried quail eggs, on toast" class="slideshow-small">
                <img src="./slideshow/30.jpg" alt="white asparagus, beets salad" class="slideshow-small">
                <img src="./slideshow/31.jpg" alt="mejillones escabeche / mussels" class="slideshow-small">
            </div>

            <%- include('./partials/footer.ejs') %>
    
        </main>

    </div>
    <script src="main.js"></script>
</body>
</html>