<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script
    src="https://kit.fontawesome.com/21ef82ed30.js"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
    <style>
        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }
        .pic-large{
            margin:0 auto;
            display: block;
            width:940px;
            aspect-ratio:16/10;
            object-fit:cover;
            position:absolute;
            top:0;
            left:0;
            overflow:hidden;
            transition:opacity 1s;
        }
        .pic-large-hidden{
            opacity:0;
        }
        .pic-large-current{
            opacity:1;
        }
        .pic-small{
            width:120px;
            height:80px;
            display:inline-block;
        }
        #slideshow{
            width:940px;
            aspect-ratio:16/10;
            position: relative;
            margin:0 auto;
        }
        #small-slideshow{
            width:7550px;
            position:relative;
            right:3310px;
        }
        #small-slideshow-wrapper{
            margin-top:20px;
            width:940px;
            overflow:hidden;
            position:relative;
            margin-left:auto;
            margin-right:auto;
        }
        #shader-left,
        #shader-right{
            width:calc(50% - 60px);
            height:80px;
            position:absolute;
            top:0;
            z-index:100;
            background:#00000099;
        }
        #shader-left{
            left:0;
        }
        #shader-right{
            right:0;
        }
        #left,#right{
            position:absolute;
            background: transparent;
            color:white;
            font-size: 20px;
            font-weight: 100;
            top:0;
            bottom:0;
            display: flex;
            align-items: center;
            z-index:1000;
        }
        #left{
            left:0;
            justify-content:flex-start;
        }
        #right{
            right:0;
        }
        #left-arrow,#right-arrow{
            background: #88888888;
            transform: scaleY(2);
            padding: 0 14px;
            line-height: 25px;
        }
        #left-arrow:hover,
        #right-arrow:hover{
            background: #44444444;
            cursor: default;
        }
        @media (width<1000px){
            .pic-large,
            #slideshow,
            #small-slideshow-wrapper{
                width:90vw;
            }
        }
    </style>

    <script>
        let pics = [
            '/slideshow/1.jpg',
            '/slideshow/2.jpg',
            '/slideshow/3.jpg',
            '/slideshow/4.jpg',
            '/slideshow/5.jpg',
            '/slideshow/6.jpg',
            '/slideshow/7.jpg',
            '/slideshow/8.jpg',
            '/slideshow/9.jpg',
            '/slideshow/10.jpg',
            '/slideshow/11.jpg',
            '/slideshow/12.jpg',
            '/slideshow/13.jpg',
            '/slideshow/14.jpg',
            '/slideshow/15.jpg',
            '/slideshow/16.jpg',
            '/slideshow/17.jpg',
            '/slideshow/18.jpg',
            '/slideshow/19.jpg',
            '/slideshow/20.jpg',
            '/slideshow/21.jpg',
            '/slideshow/22.jpg',
            '/slideshow/23.jpg',
            '/slideshow/24.jpg',
            '/slideshow/25.jpg',
            '/slideshow/26.jpg',
            '/slideshow/27.jpg',
            '/slideshow/28.jpg',
            '/slideshow/29.jpg',
            '/slideshow/30.jpg',
            '/slideshow/31.jpg',
        ]
        const picsLength = pics.length
        let picsShuffled = []
        for(let i=0;i<picsLength;i++){
            let currentPic = Math.floor(Math.random()*pics.length)
            picsShuffled.push(pics[currentPic])
            pics.splice(currentPic,1)
        }
        console.log(picsShuffled)
        console.log(pics)
    </script>
</head>
<body>
    <div id="wrapper">
    <%- include('./partials/header.ejs')%>
        <main>            
            <div id="slideshow">
                <div id="left"><div id="left-arrow">&lt;</div></div>
                <div id="right"><div id="right-arrow">&gt;</div></div>


                <script>
                    document.write(`<img src="${picsShuffled[0]}" class="pic-large pic-large-current" id="pic-large-0">`)
                    for(let i=1;i<picsLength;i++){
                        document.write(`<img src="${picsShuffled[i]}" class="pic-large pic-large-hidden" id='pic-large-${i}'>`)
                    }
                    document.write(`</div><div id='small-slideshow-wrapper'><div id="small-slideshow">`)
                    for(let i=0;i<picsLength;i++){
                        document.write(`<img src="${picsShuffled[i]}" class="pic-small">`)
                    }
                    for(let i=0;i<picsLength;i++){
                        document.write(`<img src="${picsShuffled[i]}" class="pic-small">`)
                    }
                </script>
            </div><!--#small-slideshow-->
            <div id='shader-left'></div><!--#shader-left-->
            <div id='shader-right'></div><!--#shader-right-->
            </div><!--#small-slideshow-wrapper-->

            <%- include('./partials/footer.ejs') %>
    
        </main>

    </div>
    <script src="main.js"></script>
    <script>
        const picLarge0 = document.querySelector(`#pic-large-0`)
        const picLarge1 = document.querySelector(`#pic-large-1`)
        const picLarge2 = document.querySelector(`#pic-large-2`)
        const picLarge3 = document.querySelector(`#pic-large-3`)
        const picLarge4 = document.querySelector(`#pic-large-4`)
        const picLarge5 = document.querySelector(`#pic-large-5`)
        const picLarge6 = document.querySelector(`#pic-large-6`)
        const picLarge7 = document.querySelector(`#pic-large-7`)
        const picLarge8 = document.querySelector(`#pic-large-8`)
        const picLarge9 = document.querySelector(`#pic-large-9`)
        const picLarge10 = document.querySelector(`#pic-large-10`)
        const picLarge11 = document.querySelector(`#pic-large-11`)
        const picLarge12 = document.querySelector(`#pic-large-12`)
        const picLarge13 = document.querySelector(`#pic-large-13`)
        const picLarge14 = document.querySelector(`#pic-large-14`)
        const picLarge15 = document.querySelector(`#pic-large-15`)
        const picLarge16 = document.querySelector(`#pic-large-16`)
        const picLarge17 = document.querySelector(`#pic-large-17`)
        const picLarge18 = document.querySelector(`#pic-large-18`)
        const picLarge19 = document.querySelector(`#pic-large-19`)
        const picLarge20 = document.querySelector(`#pic-large-20`)
        const picLarge21 = document.querySelector(`#pic-large-21`)
        const picLarge22 = document.querySelector(`#pic-large-22`)
        const picLarge23 = document.querySelector(`#pic-large-23`)
        const picLarge24 = document.querySelector(`#pic-large-24`)
        const picLarge25 = document.querySelector(`#pic-large-25`)
        const picLarge26 = document.querySelector(`#pic-large-26`)
        const picLarge27 = document.querySelector(`#pic-large-27`)
        const picLarge28 = document.querySelector(`#pic-large-28`)
        const picLarge29 = document.querySelector(`#pic-large-29`)
        const picLarge30 = document.querySelector(`#pic-large-30`)
        const rightArrow = document.querySelector('#right')
        const leftArrow = document.querySelector('#left')
        leftArrow.addEventListener('click',moveLeft)
        rightArrow.addEventListener('click',moveRight)
        let picLargeCurrent = 0
        const smallSlideshow = document.querySelector('#small-slideshow')
        function moveRight(){
            document.querySelector('.pic-large-current').classList.toggle('pic-large-current')
            if (picLargeCurrent == 30){
                picLargeCurrent = 0
            }else{
                picLargeCurrent++
            }
            document.querySelector(`#pic-large-${picLargeCurrent}`).classList.toggle('pic-large-current')
            const smallPicMove = document.querySelector('.pic-small')
            const lastSmallPic = document.querySelector('.pic-small:last-child')
            lastSmallPic.after(smallPicMove)            
        }
        function moveLeft(){
            document.querySelector('.pic-large-current').classList.toggle('pic-large-current')
            if (picLargeCurrent == 0){
                picLargeCurrent = 30
            }else{
                picLargeCurrent--
            }
            document.querySelector(`#pic-large-${picLargeCurrent}`).classList.toggle('pic-large-current')
            const smallPicMove = document.querySelector('.pic-small:last-child')
            const firstSmallPic = smallSlideshow.firstChild
            smallSlideshow.insertBefore(smallPicMove, firstSmallPic)
        }
        setInterval(moveRight,5000)
    </script>
</body>
</html>