<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script
    src="https://kit.fontawesome.com/21ef82ed30.js"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
    <style>
        #info-page-flexbox{
            display:flex;
            gap:75px;
        }
        #left{
            max-width:53ch;
        }
        h2{
            margin: 70px 0 20px;
        }
        #right{
            display:flex;
            flex-direction:column;
            gap:75px;
        }
        @media(width<1000px){
            #info-page-flexbox{
                padding-left:5vw;
                padding-right:5vw;
            }
        }
    </style>
</head>
<body>
    <div id="wrapper">

    <%- include('./partials/header.ejs')%>

        <main>            
<div id='info-page-flexbox'>
    <div id="left">
        <h2 style='margin-top:0;'>info</h2>  
        In the heart of downtown New Haven, Olea offers an innovative interpretation 
        of Spanish and Mediterranean cuisine. Chef Manuel Romero and his team 
        explore these flavors in their food, wine, and cocktails, locally sourcing many 
        products and inporting specialty items from the Mediterranean region. The 
        restaurant takes its name from a genus of about forty species, including the 
        olive, in the family Oleaceae, native to temperate and tropical regions of 
        Europe, Africa, Asia, and Australasia.<br><br>

        <a href='/chefBio'>More information on Chef Manuel Romero</a>


        <h2>contact us</h2>
        39 High Street, New Haven, Connecticut, 06510<br>
        203.780.8925 • info@oleanewhaven.com

        <h2>gift cards</h2>    
        Gift cards are available. Purchase one <a href='/giftcards'>online here</a> or give us a call at<br>
        203.780.8925

        <h2>hours</h2>    
        Tuesday -- Saturday, 5 -- 10pm (last seating at 8:30)

        <h2>private parties</h2>    
        Olea can accommodate up to 40 guests for private events in part of the 
        restaurant enclosed by a shimmering curtain, and larger parties can include up 
        to 80 guests throughout Olea. And we love to create special nooks for smaller, 
        more intimate gatherings.<br><br>

        Call Olea at 203.780.8925, or email <a href='mailto:info@oleanewhaven.com'>info@oleanewhaven.com</a>, to begin the 
        process of creating a unique event.<br><br>

        <a href='/privateParties'>more information is available here</a>

        <h2>attire</h2>   
        Business casual attire is recommened. No tank tops for men, please.

        <h2>employment</h2>    
        If you are seeking employment at olea, please send your resumé to<br>
        <a href='mailto:info@oleanewhaven.com'>info@oleanewhaven.com</a> <a href='/OLEA-job-application.pdf' target='_blank'>Download an application for employment here.</a>

        <h2><a href='/freeParking'>free parking info here</a></h2>    
    </div>

    <div id='right'>

        <div id='opentable'>
            make a reservation<br>
            <span>POWERED BY OPENTABLE</span>

            <a target='_blank' href='http://www.opentable.com/rest_profile.aspx?rid=151186&restref=151186'><div id='find-a-table'>
                FIND A TABLE
            </div></a>
        </div>

        <img src='/pics/map.jpg'>

    </div>
</div>
            <%- include('./partials/footer.ejs') %>
        </main>

    </div>
    <script src="/main.js"></script>
</body>
</html>