            <hr id='footer-hr'>
            <footer>
                <div id="socials2">
                <a target='_blank' href='http://www.facebook.com/295275687317979'>
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a target='_blank' href='https://twitter.com/OleaNewHaven'>
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a target='_blank' href='http://instagram.com/oleanewhaven'>
                    <i class="fa-brands fa-instagram"></i>
                </a>                </div>
                39 high street, new haven, connecticut | 203.780.8925<br><br>

                Tuesday-Saturday, 5-10pm (last seating at 8:30)<br><br>

                In the heart of downtown New Haven, Olea offers an innovative 
                interpretation of Spanish and Mediterranean cuisine. Chef Manuel 
                Romero and his team explore these flavors in their food, wine, and 
                cocktails, locally sourcing many products and importing specialty 
                items from the Mediterranean region.<br><br>

                copyright 2014-2024 by olea<br>
                graphic design by Rebecca Martz<br>
                developed by <a target='_blank' href='https://codebasesoftware.com'>CodeBaseSoftware.com</a>
                
            </footer>
