        <header>
            <h1><a href='/'>olea</a></h1>
            <nav>
                <ul>
                    <li><a href='/'>home</a></li>
                    <li id="info-button">
                        <span id="info-wrapper">info
                        <ul id="info-sub-menu">
                            <li><a href='/info'>info</a></li>
                            <li><a href='/free-parking'>free parking</a></li>
                            <li><a href='/chef-bio'>chef bio</a></li>
                            <li><a href='/private-parties'>private parties</a></li>
                        </ul>
                        </span>
                    </li>
                    <li id="menus-button">
                        <span id="menus-wrapper">menus
                        <ul id="menus-sub-menu">
                            <li>dinner</li>
                            <li>specials</li>
                            <li>dessert</li>
                        </ul>
                        </span>
                    </li>
                    <li><a href='/press'>press</a></li>
                    <li>gift cards</li>
                    <li>newsletter</li>
                    <li>reservations</li>
                </ul>
            </nav>
            <div id="socials">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>    
        </header>
        <hr>
