        <header>
            <h1><a href='/'>olea</a></h1>
            <nav>
                <ul>
                    <li><a href='/'>home</a></li>
                    <li id="info-button">
                        <span id="info-wrapper">info
                        <ul id="info-sub-menu">
                            <li><a href='/info'>info</a></li>
                            <li><a href='/free-parking'>free parking</a></li>
                            <li><a href='/chef-bio'>chef bio</a></li>
                            <li><a href='/private-parties'>private parties</a></li>
                        </ul>
                        </span>
                    </li>
                    <li id="menus-button">
                        <span id="menus-wrapper">menus
                        <ul id="menus-sub-menu">
                            <li><a href='/dinner'>dinner</a></li>
                            <li>specials</li>
                            <li>dessert</li>
                        </ul>
                        </span>
                    </li>
                    <li><a href='/press'>press</a></li>
                    <li><a href='/giftcards'>gift cards</a></li>
                    <li><a href='/newsletter'>newsletter</a></li>
                    <li>
                        <a target='_blank' href='https://www.opentable.com/restref/client/?rid=151186&restref=151186&corrid=151d97f9-d94e-4350-8850-e26422c98169'>
                            reservations
                        </a>
                    </li>
                </ul>
            </nav>
            <div id="socials">
                <a target='_blank' href='http://www.facebook.com/295275687317979'>
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a target='_blank' href='https://twitter.com/OleaNewHaven'>
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a target='_blank' href='http://instagram.com/oleanewhaven'>
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>    
        </header>
        <hr>
