<nav>
    <ul>
        <ul id='dinner-drop-menu'>dinner
            <li class='hide'> 
                <a href='/update/charcuterie'>
                    &nbsp;charcuterie&nbsp; 
                </a>
            </li>
            <li class='hide'>
                <a href='/update/appetizers'>
                    &nbsp;appetizers&nbsp; 
                </a>        
            </li>
            <li class='hide'>
                <a href='/update/entrees'>
                    &nbsp;entrées&nbsp; 
                </a>
            </li>
            <li class='hide'> 
                <a href='/update/sides'>
                    &nbsp;sides&nbsp; 
                </a>        
            </li>
        </ul>

        <a href='/update/specials'>specials</a>
        <ul id='dessert-drop-menu'>dessert
            <li class='hide'>
                <a href='/update/desserts'>
                    &nbsp;desserts&nbsp; 
                </a>
            </li>
            <li class='hide'> 
                <a href='/update/dessertWines'>
                    &nbsp;dessert&nbsp;<br>
                    &nbsp;wines&nbsp; 
                </a>
            </li>
            <li class='hide'> 
                <a href='/update/dessertCocktails'>
                    &nbsp;dessert&nbsp;<br>
                    &nbsp;cocktails&nbsp; 
                </a>
            </li>
            <li class='hide'> 
                <a href='/update/japaneseWhisky'>
                    &nbsp;japanese&nbsp;<br>
                    &nbsp;whisky&nbsp; 
                </a>        
            </li>
            <li class='hide'> 
                <a href='/update/singleMaltScotch'>
                    &nbsp;single&nbsp;<br>
                    &nbsp;malt&nbsp;<br>
                    &nbsp;scotch&nbsp; 
                </a>
            </li>
            <li class='hide'> 
                <a href='/update/brandy'>
                    &nbsp;brandy&nbsp; 
                </a>        
            </li>
            <li class='hide'> 
                <a href='/update/grappa'>
                    &nbsp;grappa&nbsp; 
                </a>        
            </li>
        </ul>
        <ul id='wine-drop-menu'>wine
            <li class='hide'> 
                <a href='/update/btg'>
                    &nbsp;btg&nbsp; 
                </a>        
            </li>
            <li class='hide'> 
                <a href='/update/cavaChampagne'>
                    &nbsp;cava&nbsp;<br>
                    &nbsp;champagne&nbsp; 
                </a>
            </li>
            <li class='hide'> 
                <a href='/update/rose'>
                    &nbsp;rosé&nbsp; 
                </a>        
            </li>
            <li class='hide'> 
                <a href='/update/whiteSpain'>
                    &nbsp;white&nbsp;<br>
                    &nbsp;spain&nbsp; 
                </a>        
            </li>
            <li class='hide'> 
                <a href='/update/whiteFrance'>
                    &nbsp;white&nbsp;<br>
                    &nbsp;france&nbsp; 
                </a>        
            </li>
            <li class='hide'> 
                <a href='/update/whiteItaly'>
                    &nbsp;white&nbsp;<br>
                    &nbsp;italy&nbsp; 
                </a>        
            </li>
            <li class='hide'> 
                <a href='/update/whiteGermany'>
                    &nbsp;white&nbsp;<br>
                    &nbsp;germany&nbsp; 
                </a>        
            </li>
            <li class='hide'> 
                <a href='/update/redSpain'>
                    &nbsp;red&nbsp;<br>
                    &nbsp;spain&nbsp; 
                </a>        
            </li>
            <li class='hide'> 
                <a href='/update/redFrance'>
                    &nbsp;red&nbsp;<br>
                    &nbsp;france&nbsp; 
                </a>        
            </li>
            <li class='hide'> 
                <a href='/update/redItaly'>
                    &nbsp;red&nbsp;<br>
                    &nbsp;italy&nbsp; 
                </a>        
            </li>
        </ul>
        <ul id='drinks-drop-menu'>drinks
            <li class='hide'> 
                <a href='/update/craftDrinks'>
                    &nbsp;craft&nbsp;<br>
                    &nbsp;drinks&nbsp; 
                </a>        
            </li>
            <li class='hide'> 
                <a href='/update/sangria'>
                    &nbsp;sangria&nbsp; 
                </a>        
            </li>
            <li class='hide'> 
                <a href='/update/nonAlcoholic'>
                    &nbsp;non&nbsp;<br>
                    &nbsp;alcoholic&nbsp; 
                </a>        
            </li>
            <li class='hide'> 
                <a href='/update/beer'>
                    &nbsp;beer&nbsp; 
                </a>        
            </li>
        </ul>
    </ul>


    <script>
        const dinnerDropMenu = document.querySelector('#dinner-drop-menu')
        const dinnerDropMenuLIs = document.querySelectorAll('#dinner-drop-menu li')
        const dessertDropMenu = document.querySelector('#dessert-drop-menu')
        const dessertDropMenuLIs = document.querySelectorAll('#dessert-drop-menu li')
        const wineDropMenu = document.querySelector('#wine-drop-menu')
        const wineDropMenuLIs = document.querySelectorAll('#wine-drop-menu li')
        const drinksDropMenu = document.querySelector('#drinks-drop-menu')
        const drinksDropMenuLIs = document.querySelectorAll('#drinks-drop-menu li')

        function showDinnerDropMenu(){
            dinnerDropMenuLIs.forEach(el=>el.classList.toggle('hide'))
        }
        function hideDinnerDropMenu(){
            dinnerDropMenuLIs.forEach(el=>el.classList.toggle('hide'))
        }
        function showDessertDropMenu(){
            dessertDropMenuLIs.forEach(el=>el.classList.toggle('hide'))
        }
        function hideDessertDropMenu(){
            dessertDropMenuLIs.forEach(el=>el.classList.toggle('hide'))
        }
        function showWineDropMenu(){
            wineDropMenuLIs.forEach(el=>el.classList.toggle('hide'))
        }
        function hideWineDropMenu(){
            wineDropMenuLIs.forEach(el=>el.classList.toggle('hide'))
        }
        function showDrinksDropMenu(){
            drinksDropMenuLIs.forEach(el=>el.classList.toggle('hide'))
        }
        function hideDrinksDropMenu(){
            drinksDropMenuLIs.forEach(el=>el.classList.toggle('hide'))
        }

        dinnerDropMenu.addEventListener('mouseover', showDinnerDropMenu)
        dinnerDropMenu.addEventListener('mouseout', hideDinnerDropMenu)
        dessertDropMenu.addEventListener('mouseover', showDessertDropMenu)
        dessertDropMenu.addEventListener('mouseout', hideDessertDropMenu)
        wineDropMenu.addEventListener('mouseover', showWineDropMenu)
        wineDropMenu.addEventListener('mouseout', hideWineDropMenu)
        drinksDropMenu.addEventListener('mouseover', showDrinksDropMenu)
        drinksDropMenu.addEventListener('mouseout', hideDrinksDropMenu)
    </script>

</nav>