<nav id='edit-nav'>
    <li style='position:relative;'>
        <div style='color:white;' 
             onmouseover = 'displayDinnerSubMenu()'
             onmouseout  = 'hideDinnerSubMenu()'
             id='dinner-button'>
             dinner
        </div>
        <div id='dinner-sub-menu' 
             style='display:none;position:absolute;color:black;'
             onmouseover = 'displayDinnerSubMenu()'
             onmouseout = 'hideDinnerSubMenu()'>
            <ul>
                <li><a href='/update/charcuterie'>Charcuterie</a></li>
                <li><a href='/update/appetizers'>Appetizers</a></li>
                <li><a href='/update/entrees'>Entrées</a></li>
                <li><a href='/update/sides'>Sides</a></li>
            </ul>
        </div>
    </li>
    
    <li><a href='/update/specials'>specials</a></li>
    <li>
        <ul id='dessert-button'>dessert
            <li><a href='/update/desserts'>desserts</a></li>
            <li><a href='/update/dessertWines'>dessert wines</a></li>
            <li><a href='/update/dessertCocktails'>dessert cocktails</a></li>
            <li><a href='/update/japaneseWhisky'>japanese whisky</a></li>
            <li><a href='/update/singleMaltScotch'>single malt scotch</a></li>
            <li><a href='/update/brandy'>brandy</a></li>
            <li><a href='/update/grappa'>grappa</a></li>
        </ul>
    </li>

    <li style='position:relative;'>
        <div style='color:white'
             id='wine-button'
             onmouseover = 'displayWineSubMenu()'
             onmouseout = 'hideWineSubMenu()'>
            wine
        </div>
        <div id='wine-sub-menu'
             style='display:none;
                    position:absolute;
                    color:black;
                    right:0;'
             onmouseover = 'displayWineSubMenu()'
             onmouseout = 'hideWineSubMenu()'>
            <ul>
                <li><a href='/update/btg'>BTG</a></li>
                <li><a href='/update/cavaChampagne'>Cava & Champagne</a></li>
                <li><a href='/update/rose'>Rosé</a></li>
                <li><a href='/update/whiteSpain'>White Spain</a></li>
                <li><a href='/update/whiteFrance'>White France</a></li>
                <li><a href='/update/whiteItaly'>White Italy</a></li>
                <li><a href='/update/whiteGermany'>White Germany</a></li>
                <li><a href='/update/redSpain'>Red Spain</a></li>
                <li><a href='/update/redFrance'>Red France</a></li>
                <li><a href='/update/redItaly'>Red Italy</a></li>
            </ul>
        </div>
    </li>
    
    <li style='position:relative;'>
        <div style='color:white'
             onmouseover = 'displayDrinksSubMenu()'
             onmouseout = 'hideDrinksSubMenu()'>
            drinks
        </div>
        <div id='drinks-sub-menu'
             style='display:none;
                    position:absolute;
                    color:black;
                    right:0;'
             onmouseover = 'displayDrinksSubMenu()'
             onmouseout = 'hideDrinksSubMenu()'>
            <ul>
                <li><a href='/update/craftDrinks'>Craft Drinks</a></li>
                <li><a href='/update/sangria'>Sangria</a></li>
                <li><a href='/update/nonAlcoholic'>Non-Alcoholic</a></li>
                <li><a href='/update/beer'>Beer</a></li>
                <li><a href='/update/dessertWines'>Dessert Wines</a></li>
                <li><a href='/update/dessertCocktails'>Dessert Cocktails</a></li>
                <li><a href='/update/japaneseWhisky'>Japanese Whisky</a></li>
                <li><a href='/update/singleMaltScotch'>Single Malt Scotch</a></li>
                <li><a href='/update/brandy'>Brandy</a></li>
                <li><a href='/update/grappa'>Grappa</a></li>
            </ul>
        </div>
    </li>
</nav>