<footer id='footer-edit'>

        <div>
            <a href='/print/dinner'>
                <i class="fa-solid fa-print"></i>
            </a>
        </div>


        <div>
            <a href='/clone'>
                <i class="fa-solid fa-house"></i>
            </a>
        </div>

</footer>
</div> <!--#wrapper-->
